.Editor {
  width: 300px;
  height: 100px;
  margin: 80px auto 0;
  border: 1px solid black;
}

.ValuePreviewer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 450px;
  overflow: scroll;
  border: 1px solid black;
}